<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin- edit</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/vendor/admin_welcome.css" rel="stylesheet">
  
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   -->
</head>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="#"><span>
            admin
        </span></a></h1>
      
        <!-- <a href="index"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
      
          
            <ul>
               
                <li><a class="" href="admin">Home</a></li>
                

                <li class="dropdown"><a class='active' href="#"><span>Actions</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a onclick="showfeedback()" href="#"   title="monitor feedback">Check Feedbacks</a></li>
                      <li><a onclick="CRUDfaculties()" href="#"  title="list faculties details">CRUD on Faculties</a></li>
                      <li><a onclick="check_students()" href="#"  title="list Students details">Check Students</a></li>
                     
                      <li><button onclick="check_db()" type="submit" class="btn btn-success btn-block"> Check DB </button></li>
                    </ul>
                </li>
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">


    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
         
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2></h2>
          <ol>
              <li>
            <form  action="/search" method = "post" class="form-inline">
                
                <input class="form-control mr-sm-2" type="search" placeholder="Search keywords" name="id" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                
            </form>
            </li>
          </ol>
          <ol>
             
            
                
            <li>
              <a href="#" data-toggle="popover"  data-placement="bottom" title="Administrator" data-content="Some content inside the popover"><%= admin_name %></a>
            </li>
                <li>Administrator</li>
          </ol>
        </div>
        
      </div>
    </section><!-- End Contact Section -->
     
  

<!-- /// -->
<section class="features">
  <div class="container" >
    <div class="form-outline" id="feedbacks" style="visibility: hidden;">
      <label class="form-label" for="textAreaExample">Queries :</label>
      <textarea class="form-control" id="textAreaExample1" rows="5"  >
        <% if(typeof feeds != 'undefined') { %>
          <%= feeds %>
      <% } %>
      </textarea>
      <form action="/access_feedback" method="post"><button onclick="showfeedback()" type="submit" class="btn btn-success btn-block" style="width: 25%; text-align: center;">Acess database </button></form> 
    </div>
    
  </div>
  <div class="container" id="facultycrud" style="visibility: hidden;" data-aos="fade-up">

    <div class="section-title">
          <h2>Firestore CRUD </h2>
         
    </div>
    <form action="/login" method="post">
          <% if(typeof alert != 'undefined') { %>
            <% alert.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button  type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     
                    </button>
                  </div>
            <% }) %>
        <% } %>
    </form>




    <form action="/firedb" method="POST" class="form">
          
      <div class="form-group col-md-6">
        <label for="inputEmail4">Faculty id</label>
        <input type="text" class="form-control" name="uid" placeholder="1bm19fa000">
      </div>
             
            
      <div class="form-group col-md-2">
        <label for="inputAddress">Start time</label>
        <select id="start_time" class="form-control"   onchange="droplist()">
        <option selected> select start time</option>
        <option>080000</option>
        <option>085500</option>
        <option>095000</option>
        <option>104500</option>
        <option>111500</option>
        <option>121000</option>
        <option>130500</option>
        <option>140000</option>
        <option>145500</option>
      </select>
      
      </div>
        <div class="form-group col-md-4">
        <input type="text"  id="stime" class="form-control" name="s_time" > 
      </div>
          
            
          
      <div class="form-group col-md-2">
        <label for="inputState">Day</label>
        <select id="list_day" class="form-control" onchange="getday()">
          <option selected>select day</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
          <option>Friday</option>
          <option>Saturday</option>
          <option>Sunday</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <input type="text"  id="day" class="form-control" name="day" > 
      </div>
          
      <br>
      <div class="form-group col-md-2">
        <label for="inputZip">Class</label>
        <input type="text" class="form-control" name="class">
      </div>
          
      <div class="form-group col-md-2">
        <label for="inputZip">Section</label>
        <input type="text" class="form-control" name="section" >
      </div>
        
      <div class="form-group col-md-2">
          <label for="inputState">Timing</label>
          <select id="list_time" class="form-control" onchange="list_timing()">
          <option selected> select timing</option>
          <option>08:55 am to 09:50 am</option>
          <option>09:50 am to 10:45 am</option>
          <option>10:45 am to 11:15 am</option>
          <option>11:15 am to 12:10 pm</option>
          <option>12:10 pm to 01:05 pm</option>
          <option>01:05 pm to 02:00 pm</option>
          <option>02:00 pm to 02:55 pm</option>
          <option>02:55 pm to 03:50 pm</option>
          <option>(Tutorial class) 02:00 pm to 03:55 pm</option>
          </select>
      </div>
      <div class="form-group col-md-4">
        <input type="text"  id="timing" class="form-control" name="timing" > 
      </div>
      <button type="submit" class="btn btn-primary">Proceed</button>
    </form>  
  </div>
</section><!-- End Features Section -->

      
      <hr>
 <br>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/admin-handler.js"></script>

</body>

</html>