<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sign In - CHECKIT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/logo.jpeg" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/b51d5e4e6a.js" crossorigin="anonymous"></script>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6238a7a8a34c2456412c220a/1fumktqoe';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script--> 
 
</head>

<body>

 <style>
  
      #toast_login{
            display:flex;
            flex-direction: column;
            position: absolute;
            top:10%;
            left:40%;
            background-color: rgb(255, 253, 250);
            opacity:1;
            cursor: pointer;
            border-left: 4px solid green;
            border-radius: 4px;
            max-width: 40%;
            max-height: 15%;
            animation-name: toast_logindisplay;
            overflow: hidden;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
     
            box-shadow: 3px 3px 5px black;
            -webkit-box-shadow: -19px 3px 31px -11px rgba(181,181,181,1);
            -moz-box-shadow: -19px 3px 31px -11px rgba(181,181,181,1);
            box-shadow: -19px 3px 31px -11px rgba(181,181,181,1);
        }
        @media screen and (max-width: 700px) {
        #toast_login{
          width: 100%;
          
        }
      }
        @keyframes toast_logindisplay {
            0%{
              transform: translateY(-200px);
            }
            50%{
              transform: translateY(100px);
            }
            100%{
              transform: translateY(0px);
            }
        }
        #toast_login:hover{
            opacity: 0.9;
            
        }
        #toast_login span{
            color:rgb(24, 134, 30);
            font-size: 20px;
            display: flex;
            justify-content: space-around;
        }
        #toast_login message_body{
            margin-top: 20px;
            padding:5px 20px;
            text-align: left;
            font-size: 18px;
            color:rgb(0, 121, 151);
            overflow-x: hidden;
            overflow-y: auto;
        }
        
    

 </style>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="home"><span> CHECKIT</span></a></h1>
      
        <a href="home"> <img src="assets\img\animations\qr_header.gif" class="img-fluid" alt="qr animated" id="qr" ></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
           <li><a href="home">Home</a></li>
           <li><a href="contact">Contact</a></li>
          <li><a href="team">Team</a></li>
          
          <li><a class="active" id="user_login" href="register">Sign In</a></li>
        </ul>
        <!-- <i class="bi bi-list mobile-nav-toggle"></i> -->
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
    <div id="cover-spin"></div>
    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Log in</i></h2>
          <ol>
            <li><a href="#">Home</a></li>
            <li>Sign up</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->
    <% if(typeof toast_message!= 'undefined') { %>
    <div id="toast_login">
      <i class="fa-solid fa-check-to-slot"></i><span ><%= toast_message.header %> </span>
      <message_body> 
         <%= toast_message.body %> 
      </message_body>
  </div>
  <% } %>
  

    <section class="contact " data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

            <% if(typeof alert != 'undefined') { %>
              <% alert.forEach(function(error) { %>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%= error.msg %>
                      <button  type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
              <% }) %>
          <% } %>
          
            <form action="/login" method="post">
              <!-- uid input -->
              <div class="form-outline mb-4">
                <input name="uid" class="form-control form-control-lg"  type="text">
                <label class="form-label" for="form1Example13">UID</label>
              </div>
    
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password"  class="form-control form-control-lg"   name="passkey" />
                <label class="form-label" for="form1Example23">Password</label>
              </div>
    
              <div class="d-flex justify-content-around align-items-center mb-4">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=""  id="form1Example3"
                    checked
                  />
                  <label class="form-check-label" for="form1Example3"> Remember me </label>
                </div>
                <a href="#!">Forgot password?</a>
              </div>
              <!-- Submit button -->
              <button onclick="getCookie()" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
              
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">Not have an account yet? <a href="register">Register</a></p>
               
              </div>
    
            </form>
          </div>
        </div>
      </div>
    </section>
    <style>
      .divider:after,
      .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
      }
    </style>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('../partials/footer') %>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/ajax_handler.js"></script>
  <script>
    
    setInterval(() => {
      document.getElementById("toast_login").addEventListener('click',fade_message('toast_login'));
    }, 3000);   
    document.getElementById('main').addEventListener('click',close_toast);
    function close_toast(){
      document.getElementById("toast_login").style.display='none';
    }
    
    function fade_message(id) {
    document.getElementById("toast_login").style.animation='fadeOut 6s linear infinite';
        setInterval(() => {
      document.getElementById(id).style.display = "none";
    }, 4500);   }
  </script>
</body>

</html>