<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sign up - CheckIt</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/vendor/admin_welcome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
 
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">
     
      <div class="logo">
        <h1 class="text-light"><a href="index"><span>Checkit</span></a></h1>
      
        
      </div>

      <nav id="navbar" class="navbar">
        <ul>
         
         
         
         
          <li><a href="team">Team</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a class="active" href="register" id="signin">Sign in</a></li>

          <!-- <li class="dropdown" id="profile"><a href="#"><span>Profile</span> <i class="far fa-user"></i></a>
            <ul>
              <img src="assets/img/user.jpg"  width="40" height="40" style="margin-left: 40px; margin-top: 20px; align-items: center;"> </br>
              <li style="align-items: center;"><a href="#"><i class="fas fa-user-edit">  edit profile </i></a></li>
              <br>
              <li><a href="#">user details</a></li>
              <li><a href="#">reset password</a></li> <br>
              <li onclick="logout()"><a style="font-size: 20px;"><i class="fas fa-power-off"  >   Log out </i></a></li>
              
            </ul>
          </li> -->



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sign Up</h2>
          <ol>
            <li><a href="login">Home</a></li>
            <li>Sign up</li>
          </ol>
        </div>

      </div>
    </section><!-- End Contact Section -->
 
    <section class="features">
        <div class="container">
  
          <div class="section-title">
            <h2 style="color:rgb(37, 58, 104); font-size: 40px;"><i class="fas fa-user-plus"></i></h2>
            
        </div>
      </section><!-- End Features Section -->
  
      <section class="contact " data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img  src="/assets/img/signup.jpg" class="img-fluid" alt="Phone image">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

            <% if(typeof alert != 'undefined') { %>
              <% alert.forEach(function(error) { %>
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%= error.msg %>
                      <button  type="submit" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                       
                      </button>
                    </div>
              <% }) %>
          <% } %>

            <form action="/register" method="post" role="form">
              <!-- name input -->
              <div class="form-outline mb-4">
                <input name="name" class="form-control "  type="text">
                <label class="form-label" for="form1Example13">Name</label>
              </div>
    
              <!-- email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form1Example23" class="form-control "   name="email" />
                <label class="form-label" for="form1Example23">Email</label>
              </div>
              <!-- uid input -->
              <div class="form-outline mb-4">
                <input type="text" id="form1Example23" class="form-control "   name="uid" />
                <label class="form-label" for="form1Example23">UniqueId</label>
              </div>
               <!-- passone -->
              <div class="form-outline mb-4">
                <input type="password" id="form1Example23" class="form-control "   name="passkey" />
                <label class="form-label" for="form1Example23">Password</label>
              </div>
              <!-- passtwo -->
              <div class="form-outline mb-4">
                <input type="password" id="form1Example23" class="form-control "   name="confirmpasskey" />
                <label class="form-label" for="form1Example23">Confirm Password</label>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
    
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0 text-muted">Have an account? <a href="login">Log In</a></p>
               
              </div>
             
            </form>
          </div>
        </div>
      </div>
    </section>
    <style>
      .divider:after,
      .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
      }
    </style>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <%- include('../partials/footer') %>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="validate.js"></script>
</body>

</html>