<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>checkit-attendance </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/vendor/admin_welcome.css" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="#"><span>CheckIt</span></a></h1>
       
    
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="#">Home</a></li>
          
          
          
          <li><a href="contact">Contact</a></li>
          

               
            </ul>
          </li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->
   <style>
     .prog{
       padding:20px;
     }
   </style>
  <main id="main">
      <section class="breadcrumbs prog"data-aos="fade-up" date-aos-delay="100">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width:60%">
            Present
          </div>
          <div class="progress-bar progress-bar-warning" role="progressbar" style="width:40%">
            Absent
          </div>
         
        </div> 
      </section>

      
<section class="features" data-aos="fade-up" date-aos-delay="300">
  <div class="container">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#allstudents">See all Students</button>
      <div id="allstudents" class="collapse">
        <table class="table ">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">USN</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Amit Kumar</td>
              <td>1BM19CS015</td>
              <td>amitkumar.cs19@bmsce.ac.in</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Anisha Nair</td>
              <td>1BM19CS000</td>
              <td>anishanair.cs19@bmsce.ac.in</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Aishwarya V</td>
              <td>1BM19CS000</td>
              <td>Aishwarya.cs19@bmsce.ac.in</td>
            </tr>
          </tbody>
        </table>
  
      </div> 
      
     
      <button type="button" class="btn btn-primary">See absent Students</button>
      <button type="button" class="btn btn-primary">See Present Students</button>
    </div> 

     
    </div>
</section> 

  </main>


  

  
   <!-- ======= Footer =======

   <%- include('../partials/footer') %>-->
   
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!--  Main JS File -->
  <script src="assets/js/main.js"></script>
  
  <script src="assets/js/script_sign.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

</body>

</html>